In [0]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'k'
from statsmodels.tsa.ar_model import AR
from statsmodels.tsa.arima_model import ARMA
import statsmodels.api as sm
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
pio.templates.default = "plotly_dark"
from plotly.subplots import make_subplots
from matplotlib import pyplot
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn import linear_model
import xgboost as xgb
from sklearn.model_selection import train_test_split

In [0]:
df = pd.read_csv("/content/drive/My Drive/timeseries.csv")

In [1202]:
df.head()

   people_ID  20-Mar-20  21-Mar-20  ...  24-Mar-20  25-Mar-20 26-Mar-20
0          1        441        544  ...     1,002      1,216     1,473
1          2        151        197  ...       400        493       607
2          3        416        515  ...       948      1,150     1,396
3          4        410        506  ...       928      1,127     1,368
4          5        390        483  ...       893      1,084     1,316

[5 rows x 8 columns]

In [1203]:
df

       people_ID  20-Mar-20  21-Mar-20  ...  24-Mar-20  25-Mar-20 26-Mar-20
0              1        441        544  ...     1,002      1,216     1,473
1              2        151        197  ...       400        493       607
2              3        416        515  ...       948      1,150     1,396
3              4        410        506  ...       928      1,127     1,368
4              5        390        483  ...       893      1,084     1,316
...          ...        ...        ...  ...        ...        ...       ...
10709      22691        134        174  ...       359        444       549
10710      22692        387        479  ...       885      1,075     1,303
10711      22693        177        228  ...       448        551       677
10712      22694        352        438  ...       815        991     1,204
10713      22695        181        230  ...       455        559       687

[10714 rows x 8 columns]

In [0]:
df['24-Mar-20'] = df['24-Mar-20'].str.replace(',', '')
df['25-Mar-20'] = df['25-Mar-20'].str.replace(',', '')
df['26-Mar-20'] = df['26-Mar-20'].str.replace(',', '')

In [0]:
df['24-Mar-20'] = df['24-Mar-20'].astype(float)
df['25-Mar-20'] = df['25-Mar-20'].astype(float)
df['26-Mar-20'] = df['26-Mar-20'].astype(float)

In [0]:
data = df.transpose()

In [0]:
data = data.astype(int)

In [1208]:
data.columns

RangeIndex(start=0, stop=10714, step=1)

In [0]:
data.columns = data.columns.values.tolist()

In [0]:
data = numpy.array(data)

In [1211]:
data

array([[    1,     2,     3, ..., 22693, 22694, 22695],
       [  441,   151,   416, ...,   177,   352,   181],
       [  544,   197,   515, ...,   228,   438,   230],
       ...,
       [ 1002,   400,   948, ...,   448,   815,   455],
       [ 1216,   493,  1150, ...,   551,   991,   559],
       [ 1473,   607,  1396, ...,   677,  1204,   687]])

In [0]:
from statsmodels.tsa.vector_ar.var_model import VAR

In [0]:
lis = []

In [1214]:
model = VAR(endog=data)
model_fit = model.fit()
yhat = model_fit.forecast(model_fit.y, steps=1)
lis.append(yhat)

/usr/local/lib/python3.6/dist-packages/statsmodels/base/wrapper.py:35: FutureWarning:

y is a deprecated alias for endog, will be removed in version 0.11.0

In [1215]:
type(lis)

list

In [0]:
l = [item for sublist in lis for item in sublist]

In [0]:
l = [item for sublist in l for item in sublist]

In [0]:
liss = pd.DataFrame(l, columns=['Infect Prob'])

In [1219]:
liss.index

RangeIndex(start=0, stop=10714, step=1)

In [0]:
liss.index+=1

In [0]:
liss.to_csv('file3.csv')

In [0]:
liss.columns = ['deuresis']

In [1223]:
liss

          deuresis
1      1783.494315
2       744.442417
3      1691.304619
4      1657.111619
5      1594.899508
...            ...
10710   674.995941
10711  1578.382878
10712   827.923331
10713  1460.318100
10714   840.513822

[10714 rows x 1 columns]

In [0]:
df = pd.read_csv('/content/drive/My Drive/Train_dataset.csv')

In [1225]:
df.columns

Index(['people_ID', 'Region', 'Gender', 'Designation', 'Name', 'Married',
       'Children', 'Occupation', 'Mode_transport', 'cases/1M', 'Deaths/1M',
       'comorbidity', 'Age', 'Coma score', 'Pulmonary score',
       'cardiological pressure', 'Diuresis', 'Platelets', 'HBB', 'd-dimer',
       'Heart rate', 'HDL cholesterol', 'Charlson Index', 'Blood Glucose',
       'Insurance', 'salary', 'FT/month', 'Infect_Prob'],
      dtype='object')

In [0]:
detID = df['people_ID']

In [0]:
detID = pd.DataFrame(detID, columns = ['people_ID'])

In [0]:
lisst = pd.merge(detID, liss, on = detID['people_ID'])

In [1229]:
lisst

       key_0  people_ID     deuresis
0          1          1  1783.494315
1          2          2   744.442417
2          3          3  1691.304619
3          4          4  1657.111619
4          5          5  1594.899508
...      ...        ...          ...
10709  22691      22691   674.995941
10710  22692      22692  1578.382878
10711  22693      22693   827.923331
10712  22694      22694  1460.318100
10713  22695      22695   840.513822

[10714 rows x 3 columns]

In [0]:
lisst= lisst.drop(['key_0'],axis = 1)

In [0]:
# lisst= lisst.drop(['people_ID'],axis = 1)

In [1232]:
lisst

       people_ID     deuresis
0              1  1783.494315
1              2   744.442417
2              3  1691.304619
3              4  1657.111619
4              5  1594.899508
...          ...          ...
10709      22691   674.995941
10710      22692  1578.382878
10711      22693   827.923331
10712      22694  1460.318100
10713      22695   840.513822

[10714 rows x 2 columns]

In [1233]:
print(lisst['deuresis'].min())
print(lisst['deuresis'].max())
lisst = lisst.sort_values(by=['deuresis'])

576.4878458264346
1818.8950133147996

In [0]:
lisst.reset_index(drop= True,inplace=True)

In [0]:
lisst.index = lisst.index+1

In [1236]:
lisst

       people_ID     deuresis
1          14274   576.487846
2           1905   579.522693
3          13763   579.922757
4           2614   579.963465
5           2799   580.117943
...          ...          ...
10710      13109  1815.367759
10711       9451  1815.792432
10712      14818  1816.142097
10713       8879  1818.848841
10714       9005  1818.895013

[10714 rows x 2 columns]

In [1237]:
lisst['deuresis'][25]

586.8124075512051

In [1238]:
lisst

       people_ID     deuresis
1          14274   576.487846
2           1905   579.522693
3          13763   579.922757
4           2614   579.963465
5           2799   580.117943
...          ...          ...
10710      13109  1815.367759
10711       9451  1815.792432
10712      14818  1816.142097
10713       8879  1818.848841
10714       9005  1818.895013

[10714 rows x 2 columns]

In [1239]:
k=1
t = lisst['deuresis'][1] 
lisst['deuresis'][1] = 1
for i in range(2,10715):
  if(lisst['deuresis'][i]>(t+10)):
    k=k+1
    t = lisst['deuresis'][i]
    lisst['deuresis'][i] = k
  else:
    lisst['deuresis'][i] = k

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [1240]:
lisst['deuresis'].value_counts()

42.0     115
54.0     110
23.0     107
28.0     104
58.0     103
        ...
83.0      69
2.0       62
122.0     47
1.0       24
123.0      9
Name: deuresis, Length: 123, dtype: int64

In [0]:
df = df[['people_ID','Diuresis','Infect_Prob']]

In [0]:
df['Diuresis'] = df['Diuresis'].fillna(df.Diuresis.mean())

In [1243]:
df.isnull().sum()

people_ID      0
Diuresis       0
Infect_Prob    0
dtype: int64

In [1244]:
df['Diuresis']

0        441.000000
1        278.806261
2        416.000000
3        410.000000
4        390.000000
            ...
10709    134.000000
10710    387.000000
10711    177.000000
10712    352.000000
10713    181.000000
Name: Diuresis, Length: 10714, dtype: float64

In [0]:
df = df.sort_values(by=['Diuresis'])

In [0]:
df.reset_index(drop= True,inplace=True)

In [1247]:
df['Diuresis'][1]

110.0

In [0]:
df.index = df.index+1

In [1249]:
k=1
t = df['Diuresis'][1] 
df['Diuresis'][1] = 1
for i in range(2,10715):
  if(df['Diuresis'][i]>t+10):
    k=k+1
    t = df['Diuresis'][i]
    df['Diuresis'][i] = k
  else:
    df['Diuresis'][i] = k

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [1250]:
df['Diuresis'][11]

1.0

In [1251]:
df['Diuresis'].max()

31.0

In [0]:
detID = df['people_ID']
# df = df.drop(['people_ID'],axis = 1)

In [0]:
detID = pd.DataFrame(detID, columns = ['people_ID'])

In [0]:
test = df['Infect_Prob']
train = df.drop(['Infect_Prob'],axis = 1)

In [0]:
trainX,testX,trainY,testY = train_test_split(train,test, test_size = 0.2, random_state = 42)

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
import xgboost as xgb

In [0]:
knn =  KNeighborsRegressor()
model = knn.fit(trainX,trainY)

In [0]:
# lm = linear_model.LinearRegression()
# model = lm.fit(train,test)

In [0]:
pred = model.predict(lisst)

In [1260]:
pred

array([45.13501566, 48.50097377, 47.5842721 , ..., 50.46307391,
       62.78770249, 56.04426227])

In [0]:
pred = pd.DataFrame(pred, columns = ['Infect_Prob'])

In [0]:
final = pd.merge(pred, detID, on=detID['people_ID'])

In [0]:
# final = final.drop(['key_0'],axis = 1)

In [1264]:
final

       key_0  Infect_Prob  people_ID
0       2614    45.135016       2614
1       2799    48.500974       2799
2      13168    47.584272      13168
3       9158    46.448181       9158
4      15684    46.941625      15684
...      ...          ...        ...
10709   2927    49.325798       2927
10710   9176    51.629076       9176
10711  13245    50.463074      13245
10712  10062    62.787702      10062
10713   3784    56.044262       3784

[10714 rows x 3 columns]

In [1265]:
final.mean()

key_0          10084.893784
Infect_Prob       52.452282
people_ID      10084.893784
dtype: float64

In [1266]:
final.max().count()

3

In [1267]:
final.drop(['key_0'],axis = 1)

       Infect_Prob  people_ID
0        45.135016       2614
1        48.500974       2799
2        47.584272      13168
3        46.448181       9158
4        46.941625      15684
...            ...        ...
10709    49.325798       2927
10710    51.629076       9176
10711    50.463074      13245
10712    62.787702      10062
10713    56.044262       3784

[10714 rows x 2 columns]

In [1268]:
final.max()

key_0          22695.000000
Infect_Prob       80.839296
people_ID      22695.000000
dtype: float64

In [1269]:
final.min().count()

3

In [0]:
final.to_csv('finalInfect02.csv')

In [1271]:
lisst[lisst['people_ID']==2614]

   people_ID  deuresis
4       2614       1.0

In [0]:
final = final.drop(['key_0'],axis = 1)

In [0]:
final1 = pd.merge(lisst,final,on = final['people_ID'])

In [0]:
final1 = final1.drop(columns = ['people_ID_x','people_ID_y'],axis = 1)

In [1275]:
final1.columns

Index(['key_0', 'deuresis', 'Infect_Prob'], dtype='object')

In [0]:
final1.columns = ['people_ID','diuresis','Infect_prob']

In [1277]:
final1

       people_ID  diuresis  Infect_prob
0           2614       1.0    45.135016
1           2799       1.0    48.500974
2          13168       1.0    47.584272
3           9158       1.0    46.448181
4          15684       1.0    46.941625
...          ...       ...          ...
10709       2927     123.0    49.325798
10710       9176     123.0    51.629076
10711      13245     123.0    50.463074
10712      10062     123.0    62.787702
10713       3784     123.0    56.044262

[10714 rows x 3 columns]

In [0]:
test = final1['Infect_prob']
train = final1.drop(['Infect_prob'],axis = 1)

In [1279]:
model.fit(train,test)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [0]:
test1 = pd.read_csv('/content/drive/My Drive/Test_dataset.csv')

In [1281]:
test1.columns

Index(['people_ID', 'Region', 'Gender', 'Designation', 'Name', 'Married',
       'Children', 'Occupation', 'Mode_transport', 'cases/1M', 'Deaths/1M',
       'comorbidity', 'Age', 'Coma score', 'Pulmonary score',
       'cardiological pressure', 'Diuresis', 'Platelets', 'HBB', 'd-dimer',
       'Heart rate', 'HDL cholesterol', 'Charlson Index', 'Blood Glucose',
       'Insurance', 'salary', 'FT/month'],
      dtype='object')

In [0]:
test2 = test1[['people_ID','Diuresis']].copy()

In [0]:
test2 = test2.sort_values(by=['Diuresis'])

In [1284]:
test2

       people_ID  Diuresis
2537        7067       110
7146       12032       110
2536        6376       110
5746       17141       110
13551      11071       110
...          ...       ...
4187        6961       450
10124      20282       450
13034      23185       450
4406       19885       450
11763       8454       450

[14498 rows x 2 columns]

In [0]:
test2.reset_index(drop = True, inplace = True)

In [0]:
test2.index +=1

In [0]:
k=1
t = test2['Diuresis'][1] 
test2['Diuresis'][1] = 1
for i in range(2,14499):
  if(test2['Diuresis'][i]>t+10):
    k=k+1
    t = test2['Diuresis'][i]
    test2['Diuresis'][i] = k
  else:
    test2['Diuresis'][i] = k

In [1288]:
test2

       people_ID  Diuresis
1           7067         1
2          12032         1
3           6376         1
4          17141         1
5          11071         1
...          ...       ...
14494       6961        31
14495      20282        31
14496      23185        31
14497      19885        31
14498       8454        31

[14498 rows x 2 columns]

In [0]:
predictions = model.predict(test2)

In [1290]:
predictions

array([54.54372196, 53.32729897, 52.92575125, ..., 55.54935127,
       53.22601105, 52.80706695])

In [0]:
predictions = pd.DataFrame(predictions, columns = ['Infect_prob'])

In [0]:
preds = pd.merge(predictions,test2, on = test2['people_ID'])

In [1293]:
preds

       key_0  Infect_prob  people_ID  Diuresis
0       7067    54.543722       7067         1
1      12032    53.327299      12032         1
2       6376    52.925751       6376         1
3      17141    54.715503      17141         1
4      11071    50.916439      11071         1
...      ...          ...        ...       ...
14493   6961    54.543722       6961        31
14494  20282    51.629104      20282        31
14495  23185    55.549351      23185        31
14496  19885    53.226011      19885        31
14497   8454    52.807067       8454        31

[14498 rows x 4 columns]

In [0]:
preds = preds.drop(columns = ['key_0','Diuresis'],axis = 1)

In [0]:
preds.to_csv('27MarchTestInfectProb02.csv')